.card {
    text-align: center;  
}

#baseCard {
  background-image: linear-gradient(to bottom right, red, white);
p {
    font-weight: bold;
}

#baseCard {
    background-color: lightseagreen;
}
<<<<<<< HEAD
#gameName {
    background-image: rgb(8, 124, 201);
    color: white;
    background-color: rgb(8, 124, 201);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding: 10px ;
    border: blue;
    border-width: 2px;
    border-style: solid;
}
=======
>>>>>>> 0ca52bfac1549ab5e5e42e4d8b9d475cec817e3e

#gameGuide {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 5px ;
}
#wordHint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 5px ;
    color: red;
}

#hangmanImageDiv {
    background-color: white;
}

#hangmanImage {
    width: 60px;
    height: 69px;
}

#wrongGuesses {
    
}

#leftFloat {
    float: left;
}

#guessedLetters {
        
}


#keyboard {
   
}

#reset {
    background-color: royalblue;
}

#endGame {
    background-color: rgb(226, 9, 9, 0.842);
}

