.card {
    text-align: center;  
}

#baseCard {
    background-color: lightseagreen;
}

#leftFloat {
    float: left;
}
/*#gameName {
    /*background-image: linear-gradient(to bottom right, red, yellow);*/
    /*color: white;
    background-color: rgb(8, 124, 201);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding: 10px ;
    border: blue;
    border-width: 2px;
    border-style: solid;
}*/


#gameGuide, #wordHint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 5px ;
}

#wrongGuesses {
    text-align: left;
}

#hangmanImageDiv {
    background-color: white;
}

#hangmanImage {
    width: 60px;
    height: 69px;
}

#correctGuess {
        
}

#keyboard {
    text-align: center;
}

#wordHint {
    color: red;
}

